* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #222;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
nav {
	text-align: center;
}
nav a {
	font-size: 3em;
	color: rgba(0,0,0,0.7);
	margin-left: 2em;
	padding-top: 1em;
}
h1  {
	font-family: 'Fredericka the Great', cursive;
	font-weight: normal;
	text-align: center;
	font-size: 10em;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
}
section#splash {
	background:url(../images/icecreamtrio.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:90vh;
	margin-top: 2em;
}
p {
	font-family: 'Roboto Slab', serif;
	line-height: 1.5;
	text-align: left;
}
h2 {
	text-align: center;
	font-size: 1.2em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
section#slogan {
	font-size: 3em;
}
a {
	font-family: 'Montserrat', sans-serif;
	color: rgba(0,0,0,0.7);
	text-decoration: none;
	font-size: 1.25em;
}
.wrapper {
	margin:auto;
	max-width:60em;
}

#best {
	float: left;
	width: 50%;
	padding-left: 2%;
	padding-right: 2%;
}

#visit {
	float: right;
	width: 50%;
	padding-left: 2%;
	padding-right: 2%;
}

.clearfix:after{
	visibility: hidding;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

#contact {
	font-size: 0.75em;
	text-align: left;
	margin-top: 1.25em;
	color: (0,0,0,0.5);
}

address {
	margin-top: 1.25em;
}
