* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #222;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
nav {
	text-align: center;
	margin-top: 0.5%;
}

nav a {
	color: rgba(0,0,0,0.7);
	margin-left: 2%;
	margin-right: 2%;
}

h1  {
	font-family: 'Fredericka the Great', cursive;
	font-weight: normal;
	text-align: center;
	font-size: 3em;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
}

p {
	font-family: 'Roboto Slab', serif;
	line-height: 1.5;
	text-align: left;
}

h2 {
	text-align: left;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

a {
	font-family: 'Montserrat', sans-serif;
	color: rgba(0,0,0,0.7);
	text-decoration: none;
	font-size: 1.25em;
}

address {
	margin-top: 0.25em;
	font-weight: lighter;
	float:right;
	padding-right: 2em;
}
section#splash {
	background:url(../images/icecreamtrio.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	margin-top:0.5em;
	padding:15em 0;
	text-align:center;
}

#slogan {
	background:rgba(0,0,0,0.5);
	color: #484848;
}
.wrapper {
	margin:auto;
	max-width:60em;
}

#about > div {
	float: left;
	width: 48%;
	margin: 1%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: ".";
	clear: both;
	height: 0;
	font-size: 0;
}

#contact {
	text-align: right;
	margin-top: 10%;
	color: (0,0,0,0.5);
	clear: both;
}
#banner{
	background-color: rgba(128,128,128,0.3);
	background-repeat:repeat-x;
}

#tagline {
	background-color: rgba(128,128,128,0.3);
	background-repeat:repeat-x;
}


