* { margin:0; padding:0; box-sizing:border-box; }
body {
	color: #222;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
nav {
	float:right;
}
nav a {
	font-size: 2em;
	color: rgba(0,0,0,0.7);
}
h1  {
	font-family: 'Fredericka the Great', cursive;
	font-size: 6em;
	font-weight: normal;
	float:left;
}
section#splash {
	background:url(../images/icecreamtrio.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:90vh;
}
p {
	font-family: 'Roboto Slab', serif;
	line-height: 1.5em
}
h2 {
	text-align: center;
	font-size: 2em;
}
a {
	font-family: 'Montserrat', sans-serif;
	color: rgba(0,0,0,0.7);
	text-decoration: none;
	font-size: 1.25em;
}
.wrapper {
	margin:auto;
	max-width:60em;
}
